<a href="https://colab.research.google.com/github/Nagakavya742/DSA_A2Z/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.DataFrame([1,2,3,4,5,6,7],['english','maths','social','telugu','hindi','science','IT'],['KNK','SNR','YSD','YSH','ARP','ALP','PCH'],columns=['roll no','sub','name'])
print(df)

TypeError: DataFrame.__init__() got multiple values for argument 'columns'

In [3]:
import pandas as pd

# Define the data
data = [1, 2, 3, 4, 5, 6, 7]
index = ['english', 'maths', 'social', 'telugu', 'hindi', 'science', 'IT']
columns = ['KNK', 'SNR', 'YSD', 'YSH', 'ARP', 'ALP', 'PCH']

# Create the DataFrame, specifying the index and columns separately
df = pd.DataFrame(data, index=index, columns=columns)

print(df)

ValueError: Shape of passed values is (7, 1), indices imply (7, 7)

In [4]:
import pandas as pd

# Define the data (modified to be 2D)
data = [[1, 2, 3, 4, 5, 6, 7]]  # Now a list of lists
index = ['english', 'maths', 'social', 'telugu', 'hindi', 'science', 'IT']
columns = ['KNK', 'SNR', 'YSD', 'YSH', 'ARP', 'ALP', 'PCH']

# Create the DataFrame
df = pd.DataFrame(data, index=index, columns=columns)

print(df)

         KNK  SNR  YSD  YSH  ARP  ALP  PCH
english    1    2    3    4    5    6    7
maths      1    2    3    4    5    6    7
social     1    2    3    4    5    6    7
telugu     1    2    3    4    5    6    7
hindi      1    2    3    4    5    6    7
science    1    2    3    4    5    6    7
IT         1    2    3    4    5    6    7